$orange:#FF5733;
$yellow:#FFBD33;
$light-yellow:#DBFF33;
$green:#75FF33;
$blue-sky:#33FFBD;
$red:#DC143C;
$scarlet:#FF2400;
$Hot-Pink:#FF69B4;
$dark-pink:#FF1493;
$cool-Gray:#8E8E93;
$snow-White:#F2F2F7;
$dark-blue:#021a26;
$blue:#05345d;